In [ ]:
import numpy as np

a = np.array([[1 , 2 , 3], [4 , 5 , 6]])
b = np.random.randint(0, 10, (3, 4))

np.ndim(a)  # Returns the number of dimensions of the array 'a'

2

In [ ]:
import random as rd

generate_otp = rd.randint(10000, 99999)
print(f"Generated OTP: {generate_otp}")

user_otp = int(input("Enter the OTP sent to your mobile number: "))
if user_otp == generate_otp:
    print("OTP verified successfully!")
else:
    print("Invalid OTP. Please try again.")

Generated OTP: 39133

In [ ]:
np.eye(3)

In [ ]:
np.linspace(0, 10, 10)

In [63]:
arr_2 = np.zeros((3, 3))
arr_2

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [16]:
x = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
res = x[1:3:2]
print(res)

[[4 5 6]]

In [ ]:
a = np.array([1 , 2 , 3 , 4 , 5])
b = np.array([6 , 7 , 8 , 9 , 10])
np.multiply(a, b)  
np.power(a, 2)
np.shape()

TypeError: shape() missing 1 required positional argument: 'a'

In [2]:
import pandas as pd

a = pd.Series([10, 20, 30, 40, 50])
a.shape()

TypeError: 'tuple' object is not callable

In [36]:
df = pd.read_csv(r"C:\Users\madha\Downloads\PD - query (5).csv")
df.drop(columns="Photo")

,Machine Name,Avg. Cups/Week,Avg. Espressos/Week,Color,Description,Feature,Machine ID,Price,Machine Type,Machine Type ID
0,Barista Lite,\t1-50,1-100,Black,The Barista Lite is perfect for the beginner e...,App Connectivity,1,699.0,At Home Espresso Machine,1
1,Barista Lite,\t1-50,1-100,Red,The Barista Lite is perfect for the beginner e...,App Connectivity,2,699.0,At Home Espresso Machine,1
2,Barista Lite,\t1-50,1-100,Silver,The Barista Lite is perfect for the beginner e...,App Connectivity,3,699.0,At Home Espresso Machine,1
3,Crema Café,\t1-50,100-200,Black,"Perfect for coffee purists, this one-cup machi...",App Connectivity,4,999.0,At Home Espresso Machine,1
4,Crema Café,\t1-50,100-200,Red,"Perfect for coffee purists, this one-cup machi...",App Connectivity,5,999.0,At Home Espresso Machine,1
...,...,...,...,...,...,...,...,...,...,...
91,Airpot Duo,1-100,1-100,Black,The Airpot Duo coffee brewer offers the user p...,Auto-Brew,92,499.0,Commercial Coffee Makers,4
92,Airpot Duo,1-100,1-100,Blue,The Airpot Duo coffee brewer offers the user p...,Auto-Brew,93,499.0,Commercial Coffee Makers,4
93,Airpot Duo,1-100,1-100,Green,The Airpot Duo coffee brewer offers the user p...,Auto-Brew,94,499.0,Commercial Coffee Makers,4
94,Airpot Duo,1-100,1-100,Red,The Airpot Duo coffee brewer offers the user p...,Auto-Brew,95,499.0,Commercial Coffee Makers,4
95,Airpot Duo,1-100,1-100,White,The Airpot Duo coffee brewer offers the user p...,Auto-Brew,96,499.0,Commercial Coffee Makers,4

In [39]:
url = "https://docs.google.com/spreadsheets/d/19QgoE0TSOUqTM3DiWnuRZhSG996Ty8drX3rXnr8Rv7Y/export?format=csv"
df = pd.read_csv(url)
df.head()

,Machine Name,Avg. Cups/Week,Avg. Espressos/Week,Color,Description,Feature,Machine ID,Photo,Price,Machine Type,Machine Type ID
0,Barista Lite,\t1-50,1-100,Black,The Barista Lite is perfect for the beginner e...,App Connectivity,1,https://github.com/MicrosoftDocs/mslearn-devel...,699.0,At Home Espresso Machine,1
1,Barista Lite,\t1-50,1-100,Red,The Barista Lite is perfect for the beginner e...,App Connectivity,2,https://github.com/MicrosoftDocs/mslearn-devel...,699.0,At Home Espresso Machine,1
2,Barista Lite,\t1-50,1-100,Silver,The Barista Lite is perfect for the beginner e...,App Connectivity,3,https://github.com/MicrosoftDocs/mslearn-devel...,699.0,At Home Espresso Machine,1
3,Crema Café,\t1-50,100-200,Black,"Perfect for coffee purists, this one-cup machi...",App Connectivity,4,https://github.com/MicrosoftDocs/mslearn-devel...,999.0,At Home Espresso Machine,1
4,Crema Café,\t1-50,100-200,Red,"Perfect for coffee purists, this one-cup machi...",App Connectivity,5,https://github.com/MicrosoftDocs/mslearn-devel...,999.0,At Home Espresso Machine,1