In [1]:
import pandas as pd

In [59]:
df1 = pd.DataFrame(
    {
        "id" : [1, pd.NA, 3, 4],
        "name" : ["Alice", pd.NA, "Charlie", "David"]
    }
)
df2 = pd.DataFrame(
    {
        "id" : [3, 4, 5, pd.NA],
        "name" : ["Charlie", "David", pd.NA, "Frank"]
    }
)

df3 = pd.DataFrame(
    {
        "age" : [25, 30, 35, 40],
        "city" : ["New York", pd.NA, "Chicago", "Houston"]
    }
)

df4 = pd.DataFrame(
    {
        "age" : [35, 40, 45, 50],
        "city" : ["Chicago", "Houston", "Phoenix", "Philadelphia"]
    }
)

res = pd.concat([df1, df2], ignore_index=True)
res1 = pd.concat([df3, df4], ignore_index=True)
final = pd.merge(res, res1, how='outer' , left_index=True, right_index=True)
print(final.dropna(how='all'))
final.describe()

     id     name  age          city
0     1    Alice   25      New York
1  <NA>     <NA>   30          <NA>
2     3  Charlie   35       Chicago
3     4    David   40       Houston
4     3  Charlie   35       Chicago
5     4    David   40       Houston
6     5     <NA>   45       Phoenix
7  <NA>    Frank   50  Philadelphia

             age
count   8.000000
mean   37.500000
std     8.017837
min    25.000000
25%    33.750000
50%    37.500000
75%    41.250000
max    50.000000